<!doctype html>
  <title>Agricultural Advisory Gender sensitivity Tester - Download  File  </title>
<link href='https://fonts.googleapis.com/css family=Pacifico' rel= stylesheet type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
 <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="content" style="padding-top:5px;">
        <div style="text-align:center; float:left; width:6%">
         <img src="{{ url_for('static', filename='images/aau_logo.png') }}" height="80" width="70">
     </div>
    <div style="text-align:center; float:right; width:13%">
        <img src="{{ url_for('static', filename='images/ciat_logo.png') }}" height="80" width="120">
    </div>

    <div style="text-align:center; width:81%">
  <h2 style="text-align:center; font-weight:bold">Mining Scientific Literature on Agricultural Advisory for Gender Inclusiveness  </h2>
    </div>
<nav>
    <ul>
        <li ><a  class="fa fa-home" href="{{ url_for('index') }}">&nbsp;Home</a></li>
        <li ><a class="fa fa-upload" href="{{ url_for('upload_file') }}">&nbsp;Upload and Test an Article</a></li>
        <li ><a class="fa fa-download " href="{{ url_for('download_all') }}">&nbsp;Download Gender Inclusive Files</a></li>
         <li ><a class="fa fa-check " href="{{ url_for('test_files') }}">&nbsp;Test All Downloaded Files</a></li>
    </ul>
</nav>
<h4 style="text-align:center;"> We are developing this Python Application to test articles in agricultural advisory for gender inclusiveness.</h4>
  <h4>Download gender inclusive File that have been test by this application</h4>
    <div class="flash">
        <ul>
         {% for file in value %}
          <li class="fa fa-file"> File name:{{ file }}&nbsp;&nbsp;<a href="/return-files/{{ file }}" target="blank"><button class='btn btn-default'>download</button></a></li> <br/>
         {% endfor %}
        </ul>
    </div>
</div>